
<!-- Main -->
<main>
  <section class="profile-bg-section parallax section_ground" >
  </section>
  <section class="profile-container gray-bg">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-4 col-xl-3">
          <%= render 'dev/configuracao/section', {section_order: "profile"} %>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="profile-content-area m-40px-tb card card-body">
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <h3 class="m-5px-b">Olá, <%= @usuario.nome %></h3>
              <h6 class="body-color font-w-500 m-25px-b"><%= @usuario.idioma ? "Brasil" : "Espanha" %>, <%= Date.today.to_s_br %> </h6>
              <p></p>
              <div class="nav">
                <div class="media align-items-center m-20px-r m-5px-tb">
                  <div class="icon-30 theme-bg white-color border-radius-50">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="media-body p-10px-l">
                    10 amigos
                  </div>
                </div>
                <div class="media align-items-center m-20px-r m-5px-tb">
                  <div class="icon-30 green-bg white-color border-radius-50">
                    <i class="fas fa-award"></i>
                  </div>
                  <div class="media-body p-10px-l">
                    9 Notícias
                  </div>
                </div>
                <div class="media align-items-center m-20px-r m-5px-tb">
                  <div class="icon-30 pink-bg white-color border-radius-50">
                    <i class="far fa-paper-plane"></i>
                  </div>
                  <div class="media-body p-10px-l">
                    6k Curtidas
                  </div>
                </div>
              </div>
            </div>
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <div class="row">
                <div class="col-md-4 m-10px-tb">
                  <div class="media">
                    <div class="only-icon-20">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="media-body p-15px-l lh-normal">
                      <div class="dark-color m-5px-b font-w-600">E-mail</div>
                      <a class="body-color"><%= @usuario.email %></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-10px-tb">
                  <div class="media">
                    <div class="only-icon-20">
                      <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="media-body p-15px-l lh-normal">
                      <div class="dark-color m-5px-b font-w-600">Criado</div>
                      <span><%= @usuario.created_at.to_date.to_s_br  %></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-10px-tb">
                  <div class="media">
                    <div class="only-icon-20">
                      <i class="fas fa-globe"></i>
                    </div>
                    <div class="media-body p-15px-l lh-normal">
                      <div class="dark-color m-5px-b font-w-600">Idioma</div>
                      <span><%= @usuario.idioma ? "Português-BR" : "Espanhol" %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% if @usuario.master == true %>
              <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
                <h5>Administradores</h5>
                <div class="row">
                  <% @usuarios.each do |usuario| %>
                      <div class="col-sm-6 col-xl-3 m-10px-tb">
                        <div class="card p-10px">
                          <a class="media align-items-center lh-normal">
                            <div class="only-icon-80 theme-color rounded-circle ">
                              <%= image_tag url_for(usuario.imagem_user),  class:'rounded-circle' %>
                            </div>
                            <div class="media-body p-10px-l">
                              <h6 class="font-w-600 m-0px"><%= usuario.nome %></h6>
                              <span class="font-small body-color"><%= usuario.idioma ? "Brasileiro" : "Esppanhol" %></span>
                            </div>
                          </a>
                        </div>
                      </div>
                  <% end %>
                  <div class="col-sm-6 col-xl-3 m-10px-tb">
                    <div class="card p-10px">
                      <a href="#" class="media align-items-center lh-normal">
                        <div class="icon-40 border-radius-50 theme-bg white-color">
                          <i class="fab fa-twitter"></i>
                        </div>
                        <div class="media-body p-10px-l">
                          <h6 class="font-w-600 m-0px">Twitter</h6>
                          <span class="font-small body-color">9k Followers</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3 m-10px-tb">
                    <div class="card p-10px">
                      <a href="#" class="media align-items-center lh-normal">
                        <div class="icon-40 border-radius-50 theme-bg white-color">
                          <i class="fab fa-linkedin-in"></i>
                        </div>
                        <div class="media-body p-10px-l">
                          <h6 class="font-w-600 m-0px">Linkedin</h6>
                          <span class="font-small body-color">10k Followers</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3 m-10px-tb">
                    <div class="card p-10px">
                      <a href="#" class="media align-items-center lh-normal">
                        <div class="icon-40 border-radius-50 theme-bg white-color">
                          <i class="fab fa-instagram"></i>
                        </div>
                        <div class="media-body p-10px-l">
                          <h6 class="font-w-600 m-0px">Instagram</h6>
                          <span class="font-small body-color">19k Followers</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- Quando existir tabela amigos -->
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <h5>Amigos</h5>
              <div class="row">
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-google"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-facebook"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-twitter"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-instagram"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main end -->
