<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="col-lg-8 col-xl-9">
          <%= form_with(model: @tag, url:{action: :show_tag_edit}, html: {class: 'row', role: "form"}, local:  true) do |form| %>
            <div class="profile-content-area m-40px-tb card card-body">
              <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
                <h5>Criar Tags </h5>
                <p>Crie tags de para associar notícias.</p>
                <%= hidden_field_tag 'id', @tag.id %>
                <div class="row m-25px-b">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label">Descrição</label>
                      <%= form.text_field :descricao, class:'form-control', placeholder:'Descrição' %>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex w-100 justify-content-between">
                      <div>
                        <h6 class="font-w-600 m-0px">Ativar tag</h6>
                        <span class="text-sm text-muted"><small>Nesta opção poderá ativar ou desativar a tag</small></span>
                      </div>
                      <div>
                        <div class="custom-control custom-switch">
                          <%= form.check_box :ativo, class:'custom-control-input' %>
                          <%= form.label :ativo, @tag.ativo ? "Ativado" : "Desativado", class:'custom-control-label'  %>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="p-20px-t">
                  <%= form.submit "Salvar",  data: {disable_with: "Enviando..."}, class:'m-btn m-btn-radius m-btn-theme' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
<!-- main end -->