
<!-- Main -->
<main>
  <section class="profile-bg-section parallax section_ground" >
  </section>
  <section class="profile-container gray-bg">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-4 col-xl-3">
          <%= render 'dev/noticium/section', { section_order: "index"} %>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="profile-content-area m-40px-tb card card-body">
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <div class="card">
                <div class="card-header bg-transparent">
                  <span class="h5 m-0px font-w-600 dark-color"></span>
                </div>
                <div class="p-20px">
                  <form class="d-flex flex-column flex-md-row m-5px-b input-group">
                    <input type="email" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Buscar...">
                    <button class="m-btn m-btn-theme m-btn-radius flex-shrink-0" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
            <section class="section">
              <div class="container">
                <div class="row">
                  <div class="col-lg col-md">
                    <div class="row">
                    <% @noticias.each do |noticia| %>
                      <div class="col-md-6 m-30px-b">
                        <div class="transition hover-top card box-shadow-only-hover overflow-hidden">
                          <div>
                            <a href="#">
                              <%= image_tag url_for(noticia.imagem_new) if noticia.imagem_new.present?  %>
                            </a>
                          </div>
                          <div class="p-20px">
                            <label class="font-small"><%= @usuario.nome %></label>
                            <h5 class="m-10px-b font-w-600"><a class="dark-color" href="#"><%= noticia.titulo %></a></h5>
                            <div class="nav font-small border-top-1 border-color-dark-gray p-15px-t">
                              <a class="m-15px-r body-color font-w-500" href="#"><i class="fas fa-calendar-alt "></i> <%= noticia.updated_at.presence ? noticia.updated_at.to_s_br :  noticia.created_at.to_s_br  %></a>
                              <a class="body-color font-w-500" href="#"><i class="fas fa-comments"></i> 8</a>
                              <%= link_to dev_noticium_show_edit_path(id: noticia.id), class:'body-color font-w-500 ml-auto', remote: true do %> Editar <i class="fas fa-chevron-right"></i><% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                      <div class="col-md-6 m-30px-b">
                        <div class="transition hover-top card box-shadow-only-hover overflow-hidden">
                          <div>
                            <a href="#">
                              <%= image_tag("img/900x550.jpg", title: '', alt: '') %>
                            </a>
                          </div>
                          <div class="p-20px">
                            <label class="font-small">Nancy Bayers – 10 hours ago</label>
                            <h5 class="m-10px-b font-w-600"><a class="dark-color" href="#">How to make trust your competitive advantage</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="nav font-small border-top-1 border-color-dark-gray p-15px-t">
                              <a class="m-15px-r body-color font-w-500" href="#"><i class="fas fa-calendar-alt "></i> 30 Aug, 2019</a>
                              <a class="body-color font-w-500" href="#"><i class="fas fa-comments"></i> 8</a>
                              <a class="body-color font-w-500 ml-auto" href="#">Read More <i class="fas fa-chevron-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 p-30px-t">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main end -->
